<p id="notice"><%= notice %></p>

<p>
  <strong>Active:</strong>
  <%= @vulnerability.active %>
</p>

<%= link_to 'Edit', edit_vulnerability_path(@vulnerability) %> |
<%= link_to 'Back', vulnerabilities_path %>
